 body {
  padding-top: 7em;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  background: #282828;
  background-size: cover;
}
h1 {
  color: #2486AA;
  margin: 8% 0 0 0;
  font-size: 2.5em;
}
.links {
  font-size: 1.25em;
  font-weight: normal;
}
.link {
  padding-bottom: 0.8em;
}
a:link {
  color: #c17f28;
  text-decoration: none;
}
a:visited {
  color: #c17f28;
  text-decoration: none;
}
a:hover {
  color: #c13228;
}
a:active {
  color: #c13228;
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.75s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
