 body {
  padding-top: 8em;
  text-align: center;
  font-family: "Time New Roman", monospace;
  background: #1A193F;
  background-size: cover;
}
h1 {
  color: #2486AA;
  margin: 5% 0 0 0;
  font-size: 2.5em;
}
.links {
  font-size: 1.25em;
  font-weight: bold;
}
.link {
  padding-bottom: 1em;
}
a:link {
  color: #616161;
  text-decoration: none;
}
a:visited {
  color: #616161;
  text-decoration: none;
}
a:hover {
  color: #696969;
}
a:active {
  color: #696969;
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.75s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
